/* Default styles/resets */

* {
  box-sizing: border-box;

  margin: 0;

  padding: 0;
}

html {
  font: 20px/1.5 sans-serif;
  /* background-color: rgb(247, 247, 129); */
  background-color: bisque;
}

main {
  padding-top: 2rem;
}

.page-header {
  display: flex;
  background-image: linear-gradient(-45deg, red, yellow);
  justify-content: space-between;
  padding: 2rem;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu__list {
  padding-right: 1rem;
}

nav ul {
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  color: yellow;

  text-decoration: none;
}

a:hover {
  color: grey;
}

.about-me__section {
  padding-bottom: 2rem;
}

.skills-heading {
  padding-top: 1rem;
}

.social-media-heading {
  padding-top: 1rem;
}

.bio {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero-image {
  background-image: url(http://lorempixel.com/output/nature-q-c-1200-600-3.jpg);
  background-size: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45vh;
}

.hero-image__header,
.hero-image__message {
  color: #f75e06;
}

section a {
  color: #ff2400;
  padding-right: 1rem;
}

section a:hover {
  color: grey;
}

.my-projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.profile-picture {
  width: 20vw;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0.75rem ridge #c19a6b;
  border-radius: 0.234rem;
}

.footer {
  background-image: linear-gradient(45deg, red, yellow);
  color: yellow;
  margin-top: 5.25rem;
  padding: 1rem;
}

img {
  max-width: 40vw;
  padding: 1rem;
}

p {
  width: 55vw;
}
